@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
  box-sizing:  border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #6ead68;
  background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    background-color: white;
}


.box {
  border: 15px dashed green;
  padding: 50px;
  margin: 20px;
  height: 600px;
  width: 400px;
  border-radius: 5px
}